<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hjalmarlosjens Tabelltipp</title>
  {{ function('wp_head') }}
</head>
<body>

  <div class="topRow">
    <section class="timer">
      <p class="timer__text" id="timer">Tid igjen: {{ time_left }}</p>
      <p id="futureDate" style="display: none;">{{ future }}</p>
    </section>

      <section class="logo">
        <img src="{{logo}}" width="200">
      </section>

    <section class="completed">
      <h2>Leverte kuponger: <span class="completed__num">{{ user_count }}</span></h2>
      <ul>
        {% for name in print_us %}
          <li>{{ name }}</li>
        {% endfor %}
      </ul>
    </section>
  </div>




  <section class="logout">
    <ul>
      <li><a href="{{ logout_link }}">Logg ut</a></li>
    </ul>
  </section>